server {
    listen      80 default;
    server_name {{ HostName }};
    return 301 https://$host$request_uri;
}

server {
    listen      443 ssl http2;
    server_name {{ HostName }};

    location / {
        root  /var/www/wordpress;
        index index.php index.html;
    }

    location ~ \.php$ {
        root          /var/www/wordpress;
        include       /etc/nginx/fastcgi_params;
        fastcgi_pass  unix:/var/run/php7-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    ssl_certificate     /etc/letsencrypt/live/{{ HostName }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ HostName }}/privkey.pem;
}